<div class='author'>
  <span class='date'><%= date %></span>:
  <%= author %>
</div>
<%= issue_title(issue) %>
<div class="attributes"><%= attributes %></div>
<div class="content"><%= content %></div>
